.Board-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5%;

}

@media (max-width: 768px) {
    .Board-wrapper {
        flex-direction: column;
    }
}